{% extends 'base.html' %}

{% block header %}
    <h1> {{ forum_name }} >></h1>
    {% if g.user %}
        <a class="action" href="{{url_for('blog.create')}}">New</a>
        <hr>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="ablout">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id'] )}}">Edit</a>
                {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
            {% for comment in comments %}
                {% if comment['post_id']==post['id'] %}
                    <div class='comment'>
                        {% if comment['parent_post_id'] %}
                            <div class="about">referring comment#00{{ comment['parent_post_id'] }} by {{ comment["username"] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</div>
                        {% else %}
                            <div class="about"> by {{ comment["username"] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</div>
                        {% endif %}
                        <p>{{ comment['body'] }}</p>
                    <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}